<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_wisata"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_wisata_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kelompok_8"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".lib.view.MoreWisata"
            android:exported="false" />
        <activity
            android:name=".lib.view.MapsWebView"
            android:exported="false" />
        <activity
            android:name=".lib.view.LupaPassword"
            android:exported="false" />
        <activity
            android:name=".lib.view.DetailImageWisata"
            android:exported="false" />
        <activity
            android:name=".lib.view.DetailImage"
            android:exported="false" />
        <activity
            android:name=".Maps"
            android:exported="false"
            android:label="@string/title_activity_maps_wisata" />
        <activity
            android:name=".lib.view.DetailProduct"
            android:exported="false" />
        <activity
            android:name=".lib.view.Register"
            android:exported="false" />
        <activity
            android:name=".lib.view.Login"
            android:exported="false" />
        <activity
            android:name=".lib.view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".lib.view.Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>